@inject ILaunchRepository launches

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Mission</th>
      <th>Site</th>
      <th>Launch Window</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in launches.Items)
    {
      <tr>
        <td>@item.Date</td>
        <td>@item.Mission</td>
        <td>@item.Site</td>
        <td>@item.Time</td>
      </tr>
      <tr>
        <td colspan="4">
          @item.Description
        </td>
      </tr>
    }
  </tbody>
</table>
